{% extends "base.html" %}
{% block title %}Login - FlexMode{% endblock %}

{% block content %}
<div class="container form-container">
  <h2>Login to Your Account</h2>
  <p class="subtitle">Access your fitness dashboard and continue your journey.</p>

  <form method="POST" action="{{ url_for('login') }}">
    <input type="text" name="fakeuser" style="display:none">
    <input type="password" name="fakepass" style="display:none">
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" id="email" name="email" required placeholder="you@example.com" autocomplete="off">
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" id="password" name="password" required placeholder="Enter your password" autocomplete="new-password">
    </div>

    <button type="submit" class="btn btn-primary btn-full">Sign In</button>
    <p class="form-footer">
        Forgot your password? <a href="{{ url_for('reset_password_page') }}">Reset it</a>
    </p>
  </form>
  <p class="text-center">Don't have an account? <a href="{{ url_for('register') }}">Register</a></p>
</div>
{% endblock %}